<div class="row">
  <div class="col col-xl-12">
    <div class="form-group ">
      <label for="channels" class="pull-right"> لیست کانال ها :</label>
      <select class="form-control" id="channels" (change)="getChannelReport($event.target.value)">
        <option *ngFor="let channel of channels" [innerHtml]="channel.title" [value]="channel.identifier"></option>
      </select>
    </div>
  </div>
  <div class="col ool-xl-12">
    <div style="display: block">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <!--<div class="co col-xl-6">-->
    <!--110-->
  <!--</div>-->
</div>
