.card-body{
    min-height: 500px;
}
.card-body label{
    float: right;
}
.table-manage{
    text-align: right;
}
.channel-logo{
    text-align: center;
}
.channel-img{
    width:100px;
    height:100px;
    border-radius: 50px;
}