<div class="card">
  <div class="card-header" >
    <span class="pull-right">نمایش اطلاعات کانال</span>
    <i class="fa fa-eye pull-left"></i>
  </div>
  <div></div>
  <div class="card-body">
    <app-preloader [visible]="preloaderVisible" [message]="preloaderMessage" [img]="preloaderImg"></app-preloader>
    <ngb-tabset *ngIf="dataIsLoad">
      <ngb-tab id="1" title="اطلاعات اولیه">
        <ng-template ngbTabContent>
          <br>
          <div class="row">
            <div class="col col-xl-12 channel-logo" >
              <img [defaultImage]="'assets/images/preloader.gif'" [lazyLoad]="config.baseApiRoot + channel.img" [offset]="100" class="channel-img">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col col-xl-6">
              <div class="form-group">
                <label>عنوان</label>
                <div class="input-group">
                  <input class="form-control" placeholder="عنوان" disabled
                         name="dp1" [(ngModel)]="channel.title"  >
                </div>
              </div>
            </div>
            <div class="col col-xl-6">
              <div class="form-group">
                <label>شناسه</label>
                <div class="input-group">
                  <input class="form-control" placeholder="شناسه" disabled
                         name="dp2" [(ngModel)]="channel.channelId"  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-xl-6">
              <div class="form-group">
                <label>تعداد کمپین ها</label>
                <div class="input-group">
                  <input class="form-control" placeholder="{{ channel.campaigns }}" disabled
                         name="dp1"    >
                </div>
              </div>
            </div>
            <div class="col col-xl-6">
              <div class="form-group">
                <label>تعداد کمپین های فعال</label>
                <div class="input-group">
                  <input class="form-control" placeholder="تعداد کمپین های فعال" disabled
                         name="dp2" [(ngModel)]="channel.activeCampaigns"  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-xl-6">
              <div class="form-group">
                <label>قیمت هر بازدید</label>
                <div class="input-group">
                  <input class="form-control" placeholder="قیمت هر بازدید" disabled
                         name="dp1" [(ngModel)]="channel.price"  >
                </div>
              </div>
            </div>
            <div class="col col-xl-6">
              <div class="form-group">
                <label>درآمد هر بازدید</label>
                <div class="input-group">
                  <input class="form-control" placeholder="درآمد هر بازدید" disabled
                         name="dp2" [(ngModel)]="channel.inCome"  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-xl-6">
              <div class="form-group">
                <label>تاریخ ایجاد</label>
                <div class="input-group">
                  <input class="form-control" placeholder="تاریخ ایجاد" disabled
                         name="dp1" [(ngModel)]="channel.createDate"  >
                </div>
              </div>
            </div>
            <div class="col col-xl-6">
              <div class="form-group">
                <label>مجموع درآمد</label>
                <div class="input-group">
                  <input class="form-control" placeholder="مجموع درآمد" disabled
                         name="dp2" [(ngModel)]="channel.totalIncome"  >
                </div>
              </div>
            </div>
          </div>

        </ng-template>
      </ngb-tab>
      <ngb-tab id="2" title="لیست کمپین ها">
        <ng-template ngbTabContent>
          <table class="table table-hover table-manage" >
          <thead>
            <tr >
            <th>وضعیت</th>
            <th>نام کمپین</th>
            <th>تعداد بازدید</th>
            <th>بودجه</th>
            <th>تاریخ شروع</th>
            <th>تاریخ اتمام</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let chan of displayCampaigns" >
          <td  *ngIf="chan.activeAdmin === 1" [innerHtml]="'فعال'"></td>
          <td  *ngIf="chan.activeAdmin === 0" [innerHtml]="'غیر فعال'"></td>
          <td  [innerHtml]="chan.campaignName"></td>
          <td  [innerHtml]="chan.viewCount"></td>
          <td  [innerHtml]="chan.budget"></td>
          <td  [innerHtml]="chan.startDate"></td>
          <td  [innerHtml]="chan.endDate"></td>
          </tr>
          </tbody>
          </table>
          <br>
          <div class="pull-left">
          <ngb-pagination [collectionSize]="campaignLength"
          [(page)]="page"
          [pageSize]="8"
          [boundaryLinks]="true"
          (pageChange)="channelPageChange()" ></ngb-pagination>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <br>
    <br>
    <br>

  </div>
</div>

