.card-body{
    min-height: 600px;
}
.table-manage{
    text-align: right;
    font-size: 13px;
}
.table-operation{
    min-width: 50px;
}
.campaign-edit{
    cursor: pointer;
}
.campaign-cancel-update{
    cursor: pointer;
}
.campaign-confirm-update{
    cursor: pointer;
}
.campaign-edit span{
    color: orange;
}
.campaign-cancel-update span{
    color: red;
}
.campaign-confirm-update span{
    color: green;
}


