

<div class="card">
  <div class="card-header" >
    <span class="pull-right">مدیریت کمپین ها</span>
    <i class="fa fa-cogs pull-left"></i>
  </div>
  <div></div>
  <div class="card-body">
  <app-preloader [message]="message" [color]="preloaderColor" [visible]="preloaderVisible" [img]="preloaderImg"></app-preloader>
    <table class="table table-hover table-manage" >
      <thead>
      <tr >
        <th *ngIf="isAdmin">تبلیغ دهنده</th>
        <th>نام کمپین</th>
        <th>بودجه</th>
        <th>تاریخ شروع</th>
        <th>تاریخ پایان</th>
        <th>کانال ها</th>
        <th>وضعیت</th>
        <th>تاییدیه سیستم</th>
        <th>تعداد بازدید</th>
        <th>باقیمانده</th>
        <th class="table-operation"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let campaign of displayCampaignList" (mouseover)="campaign.hover = true" (mouseleave)="campaign.hover = false">
        <td [innerHtml]="campaign.advertiser" *ngIf="isAdmin" ></td>
        <td [innerHtml]="campaign.campaignName"></td>
        <!--<td *ngIf="campaign.edit">-->
          <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" placeholder="نام کمپین" aria-label="Username" aria-describedby="basic-addon1">-->
          <!--</div>-->
        <!--</td>-->
        <td  [innerHtml]="campaign.budget"></td>
        <!--<td *ngIf="campaign.edit">-->
          <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" placeholder="بودجه" aria-label="Username" aria-describedby="basic-addon1">-->
          <!--</div>-->
        <!--</td>-->
        <td  [innerHtml]="campaign.startDate"></td>
        <!--<td *ngIf="campaign.edit">-->
          <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" placeholder="تاریخ شروع" aria-label="Username" aria-describedby="basic-addon1">-->
          <!--</div>-->
        <!--</td>-->
        <td  [innerHtml]="campaign.endDate"></td>
        <!--<td *ngIf="campaign.edit">-->
          <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" placeholder="تاریخ پایان" aria-label="Username" aria-describedby="basic-addon1">-->
          <!--</div>-->
        <!--</td>-->
        <td >
          <select class="form-control" id="exampleFormControlSelect1" *ngIf="!isAdmin">
            <option *ngFor="let channel of campaign.channels" [innerHtml]="channel.name" ></option>
          </select>
          <select class="form-control" id="exampleFormControlSelect2" *ngIf="isAdmin">
            <option *ngFor="let channel of campaign.channels" [innerHtml]="channel.name + channel.view_count" ></option>
          </select>
        </td>
        <!--<td *ngIf="campaign.edit" colspan="2">-->

        <!--</td>-->
        <td >
          <switch
                  [status]="campaign.activeUser"
                  [onText]="switchSettings.onText"
                  [offText]="switchSettings.offText"
                  [onColor]="switchSettings.onColor"
                  [offColor]="switchSettings.offColor"
                  [size]="switchSettings.size"
                  (statusChange)="userChangeStatus($event,campaign)">

          </switch>
        </td>
        <td>
          <label class="radio-inline">
            <input type="radio" name="optradio {{  campaign.id }}"  [value]="'watting'" [disabled]="!campaign.activeUser || !isAdmin"
                   [(ngModel)] ="campaign.activeAdmin" (change)="adminChangeStatus(campaign )">در انتظار
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio2 {{  campaign.id  }}" [value]="'allow'" [disabled]="!campaign.activeUser || !isAdmin"
                   [(ngModel)] ="campaign.activeAdmin" (change)="adminChangeStatus(campaign)">تایید
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio3 {{ campaign.id  }}" [value]="'reject'" [disabled]="!campaign.activeUser || !isAdmin"
                   [(ngModel)] ="campaign.activeAdmin" (change)="adminChangeStatus(campaign)">عدم تایید
          </label>
        </td>
        <td  [innerHtml]="campaign.viewCount"></td>
        <td  [innerHtml]="campaign.remainedBudget"></td>
        <td>

          <!--click)="udpateCampaign(campaign)"-->
          <a class="campaign-edit" title="آدرس api" (click)="open(campaign.id)">
            <span class="fa fa-eye" *ngIf="campaign.hover"></span>
          </a>
        <!--</td>-->
        <!--<td *ngIf="campaign.edit" >-->
          <!--<a class="campaign-confirm-update" title="به روزرسانی" (click)="campaign.edit = false" >-->
            <!--<span class="fa fa-check" *ngIf="campaign.edit"></span>-->
          <!--</a>-->
          <!--<a class="campaign-cancel-update" title="انصراف" (click)="campaign.edit = false" >-->
            <!--<span class="fa fa-times" *ngIf="campaign.edit"></span>-->
          <!--</a>-->
        </td>
      </tr>
      </tbody>
    </table>
<br>
    <div class="pull-left">
      <ngb-pagination [collectionSize]="total"
                      [(page)]="page"
                      [pageSize]="10"
                      [boundaryLinks]="true"
                      (pageChange)="getCampaignList()" ></ngb-pagination>
    </div>
  </div>
</div>




