.campaign-create-form label{
    float: right;
}
.campaign-calender{
    direction: ltr;
}
.selected-list .c-btn{
    box-shadow: none !important;
}
.well {

    min-height: 100px;
    padding: 19px;
    margin: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    text-align: center;
}
.nv-file-over{
    border: 2px dotted red;
    color: red;
}
.card-body{
    min-height: 500px;
}
.filename-align{
    text-align: right;
}
.filename-title-align{
    margin-top: 50px;
    text-align: center;
    background-color: cadetblue;
    color: white;
}
.file-content{
    margin-top: 5px;
    background-color: whitesmoke;
    padding: 10px;
}
.card-block h4{
    text-align: center;
}
.card-footer{
    text-align: center !important;
}
.card-img-top{
    height: 110px;
    width:auto;
}
.channels-group{
    margin-top: 50px;
}
.channels-group label{
    float: right;
    direction: rtl;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    height: auto;
    position: relative;
}
.caption span{
    text-align: center !important;
}
.flex-text {
    flex-grow: 1;
}
.flex-row img {
    min-width: 0;
    width: 100%;
}
.pagination{
    direction: ltr;
    margin-top: 32px;
}
.channels-selected{
    direction: rtl;
    float: right;
}
.final-info{
    margin-top: 20px;
}
.final-info label{
    float: right;
}
.timepicker{
    direction: ltr !important;
}
.api{
    text-align: left;
    direction: ltr;
}
