    <div class="card">
      <div class="card-header" >
        <span class="pull-right"> ایجاد کمپین تبلیغاتی</span>
        <i class="fa fa-plus pull-left"></i>
      </div>
      <div></div>
      <div class="card-body">
            <app-preloader [message]="message" [visible]="preloaderVisible" [img]="preloaderImg" [color]="preloaderColor"></app-preloader>
          <ngb-tabset #t="ngbTabset" (tabChange)="changeTab($event)">
              <ngb-tab id="1" title="اطلاعات اولیه" [disabled]="informations.id !== null" >
                  <ng-template ngbTabContent>
                      <br>
                      <div class="" *ngIf="isAdmin">
                          <label class="pull-right">تبلیغ دهندگان</label>
                          <br>
                          <angular2-multiselect [data]="dropdownList" [(ngModel)]="informations.advertisePerson"
                                                [settings]="dropdownSettings"
                                                (onSelect)="onItemSelect($event)"
                                                (onDeSelect)="OnItemDeSelect($event)"></angular2-multiselect>
                      </div>
                      <br>
                      <div class="campaign-create-form" >
                          <div class="form-group">
                              <label for="exampleInputEmail1">نام کمپین</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                     placeholder="نام کمپین" [(ngModel)]="informations.campaignName" >
                          </div>
                          <div class="row">
                              <div class="col col-xl-6">
                                  <div class="form-group">
                                      <label for="exampleInputPassword1">بودجه</label>
                                      <input class="form-control" id="exampleInputPassword1"
                                             placeholder="بودجه مورد نظر" [(ngModel)]="informations.budget" >
                                  </div>
                              </div>
                              <div class="col col-xl-6">
                                  <div class="form-group">
                                      <label for="exampleInputPassword2">لینک تبلیغ</label>
                                      <input class="form-control" id="exampleInputPassword2"
                                             placeholder="لینک تبلیغ مورد نظر" [(ngModel)]="informations.redirectUrl" >
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col col-xl-6">
                                  <div class="form-group">
                                      <label>تاریخ شروع</label>
                                      <div class="input-group campaign-calender">
                                          <input class="form-control" placeholder="روز-ماه-سال"
                                                 name="dp1" [(ngModel)]="informations.startDate"  [firstDayOfWeek]="6" ngbDatepicker #a="ngbDatepicker">
                                          <div class="input-group-addon" (click)="a.toggle()">
                                              <img src="./assets/images/calendar.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col col-xl-6">
                                  <div class="form-group">
                                      <label>تاریخ پایان</label>
                                      <div class="input-group campaign-calender">
                                          <input class="form-control" placeholder="روز-ماه-سال"
                                                 name="dp2" [(ngModel)]="informations.endDate"  [firstDayOfWeek]="6" ngbDatepicker #d="ngbDatepicker">
                                          <div class="input-group-addon" (click)="d.toggle()">
                                              <img src="./assets/images/calendar.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row ">
                              <div class="col col-xl-6 timepicker">
                                  <label >ساعت شروع کمپین </label>
                                  <ngb-timepicker [(ngModel)]="informations.startTime" [spinners]="false" [seconds]="true"></ngb-timepicker>
                              </div>
                              <div class="col col-xl-6 timepicker">
                                  <label >ساعت پایان کمپین </label>
                                  <ngb-timepicker [(ngModel)]="informations.endTime" [spinners]="false" [seconds]="true"></ngb-timepicker>
                              </div>
                          </div>


                      </div>

                  </ng-template>
              </ngb-tab>
              <ngb-tab id="2" title="انتخاب کانال" [disabled]="informations.id !== null">
                  <ng-template ngbTabContent >
                      <div class="channels-group">
                          <div class="row">
                              <div class="col col-md-12 " *ngIf="informations.selectedChannels.length > 0">
                                  <label>لیست کانال های انتخاب شده :</label>
                                  <div class="pull-right">
                                      <small *ngFor="let channel of informations.selectedChannels ; let i = index">{{ channel.title }}
                                          <span *ngIf="i < informations.selectedChannels.length -1 ">-</span>
                                      </small>
                                  </div>
                              </div>
                              <div class="col col-md-4">
                                  <div class="form-group">
                                      <label for="searchbox">جستجو</label>
                                      <input type="email" class="form-control" id="searchbox"
                                             aria-describedby="emailHelp" placeholder="جستجو"
                                             (input)="search()" [(ngModel)]="searchKey" (change)="getChannels()">
                                  </div>
                              </div>

                              <div class="col col-md-8 pull-left pagination">
                                  <ngb-pagination [collectionSize]="total"
                                                  [(page)]="page"
                                                  [pageSize]="perpage"
                                                  [boundaryLinks]="true"
                                                  (pageChange)="getChannels()" ></ngb-pagination>
                              </div>

                          </div>
                          <div class="flex-row row">
                              <div class="col-xs-6 col-sm-4 col-lg-3" *ngFor="let channel of displayChannelList">
                                  <div class="thumbnail ">
                                      <!--<img class="card-img-top" *ngIf="channel.img !== null" [src]="channel.img">-->
                                      <img class="card-img-top" [defaultImage]="'assets/images/preloader.gif'"
                                           [lazyLoad]="channel.img" [offset]="100"
                                           [errorImage]="'assets/images/default.png'"
                                           (onLoad)="channelImageLoad($event)">
                                      <div class="caption">
                                          <span [innerHtml]="channel.title"></span>
                                          <p class="card-footer">
                                              <small class="text-muted" [innerHtml]="channel.price + 'تومان'"></small>
                                              <input type="checkbox" aria-label="Checkbox for following text input"
                                                     [(ngModel)] = "channel.checked" (change)="channelChecked(channel)">
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </ng-template>
              </ngb-tab>
              <ngb-tab id="3" title="آپلود فایل"  [disabled]="informations.id === null">
                  <ng-template ngbTabContent >
                      <br>
                      <div [hidden]="uploader.queue.length > 0">
                          <div class="form-group">
                              <input type="file" id="uploader" ng2FileSelect [uploader]="uploader" class="form-control"/>
                          </div>
                          <div ng2FileDrop
                               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                               (fileOver)="fileOverBase($event)"
                               [uploader]="uploader"
                               class="well my-drop-zone">
                              فایل خود را به این ناحیه منتقل کنید.
                          </div>
                      </div>

                      <div  [hidden]="uploader.queue.length === 0" *ngIf="uploader.queue.length > 0">
                          <div class="row">
                              <div class="col col-xl-12 filename-title-align">
                                  اطلاعات فایل آپلود شده
                              </div>
                          </div>
                          <div class="row file-content">
                              <div class="col col-xl-3 filename-align">
                                  <strong  [innerHtml]="uploader.queue[0].file.name"></strong>
                              </div>
                              <div class="col col-xl-6">
                                  <div class="progress" style="">
                                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                  </div>
                                  <div *ngIf="uploader.progress === 100">
                                      <span style="text-align: center">فایل شما با موفقیت به کمپین اضافه شد .</span>
                                  </div>
                              </div>
                              <div class="col col-xl-3">
                                  <!--(click)="uploadFile()" [disabled]="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">-->
                                  <button type="button" class="btn btn-success btn-xs"
                                          (click)="uploadFile()"
                                          [disabled]="uploader.isUploading || uploader.progress === 100" >
                                      <span class="fa fa-upload"></span>
                                  </button>
                                  <button type="button" class="btn btn-danger btn-xs"
                                          [disabled]="uploader.isUploading || uploader.progress === 100"
                                          (click)="uploader.queue[0].remove()">
                                      <span class="fa fa-trash"></span>
                                  </button>
                              </div>
                          </div>

                      </div>
                  </ng-template>
              </ngb-tab>
              <ngb-tab id="4" title="تایید نهایی اطلاعات" [disabled]="confirmInfoTab">
                  <ng-template ngbTabContent >
                    <div class="row final-info">
                            <div class="col col-md-6">
                                <div class="col col-md-12 ">
                                    <form >
                                        <div class="form-group " *ngIf="isAdmin">
                                            <label for="exampleFormControlInput1">تبلیغ دهنده</label>
                                            <input type="email" readonly class="form-control" id="exampleFormControlInput1" placeholder="{{ informations.advertisePerson[0].itemName }}">
                                        </div>
                                        <div class="form-group ">
                                            <label for="exampleFormControlInput3">تاریخ شروع</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput3"
                                                   readonly placeholder="{{ informations.startDate.year + '/' + informations.startDate.month + '/' + informations.startDate.day }}">
                                        </div>
                                        <div class="form-group ">
                                            <label for="exampleFormControlInput2">بودجه</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput2" readonly
                                                   placeholder="{{ informations.budget }}">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="col col-md-12">
                                    <form >
                                        <div class="form-group ">
                                            <label for="exampleFormControlInput4">نام کمپین</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput4"
                                                   readonly placeholder="{{ informations.campaignName }}">
                                        </div>
                                        <div class="form-group ">
                                            <label for="exampleFormControlInput6">تاریخ پایان</label>
                                            <input type="email" readonly class="form-control" id="exampleFormControlInput6"
                                                   placeholder="{{ informations.endDate.year + '/' + informations.endDate.month + '/' + informations.endDate.day }}">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col col-xl-12">
                                <div class="form-group ">
                                    <label for="api">آدرس Api وست</label>
                                    <input type="text" class="form-control api" id="api"
                                           [(ngModel)]="vastApi">
                                </div>
                            </div>
                        <br>
                            <div class="col col-md-12 " *ngIf="informations.selectedChannels.length > 0">
                                <label>لیست کانال های انتخاب شده :</label>
                                <div class="pull-right">
                                    <small *ngFor="let channel of informations.selectedChannels ; let i = index">{{ channel.title }}
                                        <span *ngIf="i < informations.selectedChannels.length -1 ">-</span>
                                    </small>
                                </div>
                            </div>
                    </div>
                  </ng-template>
              </ngb-tab>
          </ngb-tabset>


      </div>

     <div class="card-footer">
         <button class="btn btn-info pull-left" (click)="confirmInfo()" *ngIf="!this.isEdit && this.currentTab === 4">
             تایید نهایی اطلاعات
         </button>
         <button class="btn btn-info pull-left" (click)="updateInfo()" *ngIf="this.isEdit && this.currentTab === 4">
             ویرایش اطلاعات
         </button>
         <button class="btn btn-success pull-left" style="margin-right: 5px" (click)="createCampaign()" *ngIf="informations.id === null">
             ذخیره اطلاعات
         </button>
         <button class="btn btn-info pull-left" (click)="nextTab()" *ngIf="this.currentTab < 4">
             مرحله بعدی
         </button>
         <button class="btn btn-info pull-left " style="margin-left: 5px" (click)="previewsTab()" *ngIf="this.currentTab > 1">
             مرحله قبلی
         </button>
     </div>
    </div>

