<div class="card">




  <div class="card-header" >
    <span class="pull-right"> مدیریت کانال ها</span>
    <i class="fa fa-cogs pull-left"></i>
  </div>
  <div></div>
  <div class="card-body">
    <div class="row notification">
      <div class="col col-xl-2">
        <button class="btn btn-success pull-right" (click)="isCreate = true">
          ایجاد کانال
        </button>
      </div>
      <div class="col col-xl-12" >
        <app-preloader [message]="message" [visible]="preloaderVisible" [img]="preloaderImg" [color]="preloaderColor"></app-preloader>
      </div>
    </div>

    <br>
    <br>
    <br>
    <table class="table table-hover table-manage" >
      <thead>
      <tr >
        <th>تصویر کانال</th>
        <th>شناسه</th>
        <th>عنوان</th>
        <th>قیمت هر بازدید</th>
        <th>درآمد هر بازدید</th>
        <th>کل کمپین ها</th>
        <th>کمپین های فعال</th>
        <th>تعداد بازدید</th>
        <th class="table-operation"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="isCreate">
        <!--<td colspan="2">-->
          <!--<div class="input-group">-->
            <!--<input type="text" [(ngModel)]="channel.channelId" class="form-control" placeholder="شناسه" aria-label="Username" aria-describedby="basic-addon1">-->
          <!--</div>-->
        <!--</td>-->
        <td colspan="4">
          <div class="input-group">
            <input required type="text" [(ngModel)]="channel.title" class="form-control" placeholder="عنوان" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </td>
        <td>
          <div class="input-group">
            <input required  type="text" [(ngModel)]="channel.price" class="form-control" placeholder="قیمت هر بازدید" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </td>
        <td>
          <div class="input-group">
            <input required type="text" [(ngModel)]="channel.inCome" class="form-control" placeholder="درآمد هر بازدید" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </td>
        <td>
          <!--<input type="file" ng2FileSelect [uploader]="uploader" />-->
          <label class="btn btn-primary">
            <input type="file" style="display: none;" multiple="false" (change)="fileChange($event)" accept="image/*">
            <span>{{ filename }}</span>
          </label>
        </td>
        <td>
          <a class="channel-create" title="ایجاد کانال" (click)="createChannel()" >
            <span class="fa fa-check"></span>
          </a>
          <a class="channel-cancel" title="انصراف" (click)="isCreate = false" >
            <span class="fa fa-times"></span>
          </a>
        </td>
      </tr>
      <tr *ngFor="let chan of displayChannels" (mouseover)="chan.hover = true" (mouseleave)="chan.hover = false">
        <td>
          <!--<img [src]="config.baseApiRoot + chan.img_uri" style="width:50px; height: 50px;">-->
          <img [defaultImage]="'assets/images/preloader.gif'" [lazyLoad]="config.baseApiRoot + chan.img_uri"
               [offset]="100" [errorImage]="'assets/images/default.png'" class="channel-img">
        </td>
        <td *ngIf="!chan.isEdit" [innerHtml]="chan.channelId"></td>
        <!--<td *ngIf="chan.isEdit" colspan="2">-->
          <!--<div class="input-group">-->
            <!--<input type="text" [(ngModel)]="chan.channelId" class="form-control" placeholder="شناسه" aria-label="Username" aria-describedby="basic-addon1">-->
          <!--</div>-->
        <!--</td>-->
        <td *ngIf="!chan.isEdit" [innerHtml]="chan.title"></td>
        <td *ngIf="chan.isEdit" colspan="4">
          <div class="input-group">
            <input type="text" [(ngModel)]="chan.title" class="form-control" placeholder="عنوان" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </td>
        <td *ngIf="!chan.isEdit"  [innerHtml]="chan.price"></td>
        <td *ngIf="chan.isEdit">
          <div class="input-group">
            <input type="text" [(ngModel)]="chan.price" class="form-control" placeholder="قیمت هر بازدید" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </td>
        <td *ngIf="!chan.isEdit" [innerHtml]="chan.inCome"></td>
        <td *ngIf="chan.isEdit">
          <div class="input-group">
            <input type="text" [(ngModel)]="chan.inCome" class="form-control" placeholder="درآمد هر بازدید" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </td>
        <td *ngIf="!chan.isEdit" [innerHtml]="chan.campaigns"></td>
        <td *ngIf="!chan.isEdit" [innerHtml]="chan.activeCampaign"></td>
        <td *ngIf="!chan.isEdit" [innerHtml]="chan.viewCount"></td>
        <td *ngIf="!chan.isEdit" >
          <!--click)="udpateCampaign(campaign)"-->
          <a class="channel-edit" title="ویرایش کانال" (click)="chan.isEdit = true">
            <span class="fa fa-edit" *ngIf="chan.hover"></span>
          </a>
          <a class="channel-view" title="نمایش کانال" [routerLink]="['/dashboard/channel/view/',chan.id]">
            <span class="fa fa-eye" *ngIf="chan.hover"></span>
          </a>
        </td>
        <td *ngIf="chan.isEdit">
          <a class="channel-create" title="به روزرسانی" (click)="updateChannel(chan)" >
            <span class="fa fa-check"></span>
          </a>
          <a class="channel-cancel" title="انصراف" (click)="chan.isEdit = false" >
            <span class="fa fa-times"></span>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <br>
    <div class="pull-left">
      <ngb-pagination [collectionSize]="total"
                      [(page)]="page"
                      [pageSize]="perpage"
                      [boundaryLinks]="true"
                      (pageChange)="getChannels()" ></ngb-pagination>
    </div>
  </div>
</div>

