.table-operation{
    min-width: 60px;
}
.channel-edit{
    color: orange;
}
.table-manage{
    text-align: right;
}
.channel-edit{
    cursor: pointer;
}
.channel-create{
    cursor: pointer;
}
.channel-cancel{
    cursor: pointer;
}
.channel-edit span{
    color: orange;
}
.channel-create span{
    color: green;
}
.channel-cancel span{
    color: red;
}
.channel-view span{
    color: green;
}
.card-body{
    min-height: 500px;
}
.channel-img{
    width:50px;
    height:50px;
}
.loader{
    margin-right: 10px;
}
.notification{
    margin-top: 20px;
}