.index-login-form{
    text-align: center;
    margin: 15% auto;
}

.index-login{
    margin: 20px;
}
.index-login label{
    float: right;
}
.index-login button{
    float: left;
}
.index-logo-title{
    text-align: center;
    margin: 15% auto;
}
.index-logo-img{
    margin:20px;
    width:45px;
    height: auto;
    border-radius: 5px;
}
.index-logo-template{
    color: white;
    border-radius: 5px;
    margin: 10px;
    background-color: #263238 ;
    height: 350px;
}
