<div class="container">
  <div class="row index-login-form">
    <div class="col-sm">
      <ngb-tabset [justify]="currentJustify">
        <ngb-tab title="ورود مدیر سیستم">
          <ng-template ngbTabContent>
            <form [formGroup]="loginForm" class="index-login" >
              <div class="form-group">
                <label for="exampleInputEmail1">نام کاربری</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="نام کاربری" formControlName ="email">
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">رمز عبور</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="رمز عبور"
                       formControlName="password">
              </div>
              <button type="submit" class="btn btn-primary"
                      (click)="login()" [disabled]="loginForm.status === 'INVALID'">ورود مدیر سیستم</button>
            </form>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <app-preloader [message]="message" [img]="preloaderImg" [visible]="preloaderVisible" [color]="preloaderColor"></app-preloader>
    </div>
    <div class="col-sm index-logo-template" >
      <div class="index-logo-title">
        <h1>دیدستان</h1>
        <small>سرویس اشتراک ویدئو</small>
        <br>
        <img src="assets/images/logo.jpg" class="index-logo-img">
      </div>
    </div>
  </div>
</div>