<div class="container">
  <div class="row index-login-form">
  <div class="col-sm">
    <ngb-tabset [justify]="currentJustify">
      <ngb-tab title="ورود به سیستم">
        <ng-template ngbTabContent>
          <form [formGroup]="loginForm" class="index-login" >
            <div class="form-group">
              <label for="exampleInputEmail1">نام کاربری</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                     placeholder="نام کاربری" formControlName ="email">
              <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">رمز عبور</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="رمز عبور"
                      formControlName="password">
            </div>
            <div class="form-group" *ngIf="!loginIsRegister">
              <label for="activationCode1">کد فعال سازی</label>
              <input type="text" class="form-control" id="activationCode1" placeholder="رمز عبور"
                     formControlName="code">
            </div>
            <button type="submit" class="btn btn-primary"
                    (click)="confirmLogin()" [disabled]="loginForm.status === 'INVALID'">ورود به سیستم</button>
          </form>

        </ng-template>
      </ngb-tab>
      <ngb-tab title="ثبت نام">
        <ng-template ngbTabContent >
          <form class="index-login" [formGroup]="registerForm">
            <div class="form-group">
              <label for="refgisterInputName">نام</label>
              <input type="text" class="form-control" id="refgisterInputName" aria-describedby="emailHelp"
                     placeholder="نام" formControlName="name">
              <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
              <div class="form-group">
                <label for="refgisterInputEmail1">ایمیل</label>
                <input type="email" class="form-control" id="refgisterInputEmail1" aria-describedby="emailHelp"
                       placeholder="ایمیل" formControlName="email">
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>
              <div class="form-group" >
                <label for="registerInputPassword1">رمز عبور</label>
                <input type="password" class="form-control" id="registerInputPassword1" placeholder="رمز عبور"
                       formControlName="password">
              </div>
              <div class="form-group" *ngIf="!isRegister">
                <label for="registerrepeatInputPassword1">تکرار رمز عبور</label>
                <input type="password" class="form-control" id="registerrepeatInputPassword1" placeholder="رمز عبور"
                       formControlName="repeatPassword">
              </div>
            <div class="form-group" *ngIf="isRegister">
              <label for="activationCode">کد فعال سازی</label>
              <input type="text" class="form-control" id="activationCode" placeholder="رمز عبور"
                     formControlName="code">
            </div>
            <!--<div class="form-check">-->
            <!--<label class="form-check-label">-->
            <!--<input type="checkbox" class="form-check-input">-->
            <!--Check me out-->
            <!--</label>-->
            <!--</div>-->
            <button type="submit" class="btn btn-primary"
                    (click)="confirm()">ثبت نام</button>
          </form>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <app-preloader [message]="message" [img]="preloaderImg" [visible]="preloaderVisible" [color]="preloaderColor"></app-preloader>
  </div>
  <div class="col-sm index-logo-template" >
    <div class="index-logo-title">
      <h1>دیدستان</h1>
      <small>سرویس اشتراک ویدئو</small>
      <br>
      <img src="assets/images/logo.jpg" class="index-logo-img">
    </div>
  </div>
</div>
</div>