.dashboard-header-logo{
    width:35px;
    height: auto;
    border-radius: 5px;
}
.dashboard-header{
    background-color: #263238;
    color: white;
}
.dashboard-header-menu{
    color: white;
    font-size: 28px;
    margin:2px 0px 0px 20px;
}
.dashboard-menu-click{
    cursor: pointer;
}

.dashboard-sidebar-content{
    /*float: right !important;*/
    direction: rtl !important;
}

/deep/
.ng-sidebar{
    background-color: #0c5460;
    width:200px;
}
.dashboard-logo span{
    padding-right: 5px;
    font-size: 18px;
}
.navbar-header{
    display: flex;
}


/*sidebar menu*/
    .list-group a{
        float: right;
        direction: rtl;
        text-align: right;
    }
    .list-group-item{
        border-radius: 0px;
        background-color: #0c5460;
        color: white;
        border: none !important;
    }
    .list-group-item:hover{
        background-color: rgba(0, 150, 136, 0.4);;
    }
    .active{
        background-color: #009688;
        border-bottom: 1px solid orange!important;
    }
    .list-group a>img{
        margin-left: 10px;
    }
/*end sidebar menu*/

/*dashboard-content*/
.dashboard-content{
    margin-top: 20px;
}
.dashboard-main-content{
    background-color: rgb(243, 243, 243);
    padding: 20px;
    min-height: 600px;
}
/*end dashboard-content*/

.exit-button{
    background: none;
    border: none;
    cursor: pointer;
}
.exit-button img{
    width:30px;
    height:30px;
}

