
<nav class="navbar navbar-default dashboard-header">

    <div class="navbar-header">



                <a class="dashboard-menu-click" (click)="_toggleSidebar()">
                    <i class="fa fa-bars dashboard-header-menu" aria-hidden="true"> </i>
                </a>

                <div class="dashboard-logo">
                    <a class="">
                        <img src="assets/images/logo.jpg" class="dashboard-header-logo">
                    </a>
                    <span class="">دیدستان</span>
                </div>






    </div>
    <button class="exit-button" title="خروج" (click)="logout()">
        <img src="assets/images/logout.png">
    </button>
</nav>
<ng-sidebar-container style="height: 100vh;">


  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" mode="push" class="dashboard-sidenav">
    <div class="list-group">
      <a routerLink="/dashboard" class="list-group-item list-group-item-action "
         (click)="changeRoute('/dashboard','home')"  [ngClass]="{'active': navbarSelect === 'home'}">
        <img src="assets/images/home.png" width="35" height="35"/>
صفحه اصلی
      </a>
      <a  routerLink="createCampaign" class="list-group-item list-group-item-action"
          (click)="changeRoute('/dashboard/createCampaign','create')" [ngClass]="{'active': navbarSelect === 'create'}">
        <img src="assets/images/add2.png" width="35" height="35"/>
        ایجاد کمپین جدید
      </a>
      <a  routerLink="/dashboard" class="list-group-item list-group-item-action"
          (click)="changeRoute('/dashboard/manageCampaign','manage')" [ngClass]="{'active': navbarSelect === 'manage'}">
        <img src="assets/images/list.png" width="35" height="35"/>
        مدیریت کمپین ها</a>
      <a  routerLink="/dashboard" class="list-group-item list-group-item-action"
          (click)="changeRoute('/dashboard/channels','channel')" [ngClass]="{'active': navbarSelect === 'channel'}">
        <img src="assets/images/television.png" width="35" height="35"/>
        مدیریت کانال ها
      </a>
        <a  routerLink="/dashboard" class="list-group-item list-group-item-action"
            (click)="changeRoute('/dashboard/advertise','advertise')" [ngClass]="{'active': navbarSelect === 'advertise'}">
            <img src="assets/images/users.png" width="35" height="35"/>
            مدیریت کاربران
        </a>
        <!--<a  routerLink="/dashboard" class="list-group-item list-group-item-action"-->
            <!--(click)="changeRoute('/dashboard/report','report')" [ngClass]="{'active': navbarSelect === 'report'}">-->
            <!--<img src="assets/images/report.png" width="35" height="35"/>-->
            <!--مدیریت گزارشات-->
        <!--</a>-->
    </div>

  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content class="dashboard-sidebar-content">
    <!--<router-outlet></router-outlet>-->

        <div class="container dashboard-content">
            <div class="row">
                <!--<div class="col-md-1">-->

                <!--</div>-->
                <div class="col-md-12 dashboard-main-content">
                    <router-outlet></router-outlet>
                </div>
                <!--<div class="col-md-1">-->
                <!--</div>-->
            </div>
        </div>

</div>

</ng-sidebar-container>




