/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@font-face {
    font-family: yekan;
    src: url(assets/fonts/Yekan.woff);
    font-weight: bold;
}
@font-face {
    font-family: mitra;
    src: url(assets/fonts/BMitra.woff);
    font-weight: bold;
}


body{
    direction: rtl;
    font-family: yekan;
}
.selected-list[_ngcontent-c5]   .c-btn[_ngcontent-c5]{
    box-shadow: none !important;
}

.modal-content{
    padding: 30px !important;
    border-bottom: 17px solid yellow !important;
}

