<div class="card">
  <div class="card-header" >
    <span class="pull-right">مدیریت کاربران</span>
    <i class="fa fa-cogs pull-left"></i>
  </div>
  <div></div>
  <div class="card-body">
    <!--<button class="btn btn-success pull-right" (click)="isCreate = true">-->
      <!--ایجاد تبلیغ دهنده-->
    <!--</button>-->
    <app-preloader [img]="preloaderImg" [message]="preloaderMessage" [visible]="preloaderVisible"></app-preloader>
    <br>
    <br>
    <br>
    <table class="table table-hover table-manage" >
      <thead>
      <tr >
        <th>عنوان</th>
        <th>کمپین های فعال</th>
        <th>لیست گمپین ها</th>
        <th class="table-operation"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="isCreate">
        <td colspan="3">
          <div class="input-group">
            <input type="text" [(ngModel)]="advertise.title" class="form-control" placeholder="عنوان" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </td>
        <td>
          <a class="advertise-create" title="ایجاد تبلیغ گیرنده" (click)="createAdvertise()" >
            <span class="fa fa-check"></span>
          </a>
          <a class="advertise-cancel" title="انصراف" (click)="isCreate = false" >
            <span class="fa fa-times"></span>
          </a>
        </td>
      </tr>
      <tr *ngFor="let ad of displayadvertises" (mouseover)="ad.hover = true" (mouseleave)="ad.hover = false">
        <td *ngIf="!ad.isEdit" [innerHtml]="ad.title"></td>
        <td *ngIf="ad.isEdit" colspan="3">
          <div class="input-group">
            <input type="text" [(ngModel)]="ad.title" class="form-control" placeholder="عنوان تبلیغ گیرنده" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </td>
        <td *ngIf="!ad.isEdit" [innerHtml]="ad.activeCampaign"></td>
        <td *ngIf="!ad.isEdit">
          <span *ngFor="let cam of ad.campaignList" [innerHtml]="cam"></span>
        </td>
        <td *ngIf="!ad.isEdit" >
          <!--click)="udpateCampaign(campaign)"-->
          <a class="advertise-edit" title="ویرایش تبلیغ دهنده" (click)="ad.isEdit = true">
            <span class="fa fa-edit" *ngIf="ad.hover"></span>
          </a>
          <!--<a class="advertise-view" title="نمایش کانال" [routerLink]="['/dashboard/advertise/view/',chan.id]">-->
            <!--<span class="fa fa-eye" *ngIf="chan.hover"></span>-->
          <!--</a>-->
        </td>
        <td *ngIf="ad.isEdit">
          <a class="advertise-create" title="به روزرسانی" (click)="updateAdvertise(ad)" >
            <span class="fa fa-check"></span>
          </a>
          <a class="advertise-cancel" title="انصراف" (click)="ad.isEdit = false" >
            <span class="fa fa-times"></span>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <br>
    <div class="pull-left">
      <ngb-pagination [collectionSize]="advertises.length"
                      [(page)]="page"
                      [pageSize]="8"
                      [boundaryLinks]="true"
                      (pageChange)="getadvertises()" ></ngb-pagination>
    </div>
  </div>
</div>

