.table-operation{
    min-width: 60px;
}
.advertise-edit{
    color: orange;
}
.table-manage{
    text-align: right;
}
.advertise-edit{
    cursor: pointer;
}
.advertise-create{
    cursor: pointer;
}
.advertise-cancel{
    cursor: pointer;
}
.advertise-edit span{
    color: orange;
}
.advertise-create span{
    color: green;
}
.advertise-cancel span{
    color: red;
}
.advertise-view span{
    color: green;
}
.card-body{
    min-height: 500px;
}